h1 {
    font-family: "Malgun Gothic";
    color: white;
    margin-left: 20px;

}
p {
    font-family: "Comic Sans MS";
    color: white;
    margin-left: 20px;

}
h2 {
    font-family: "Malgun Gothic";
    color:white;
    margin-left: 20px;

}
label {
    font-family: "Comic Sans MS";
    color:white;
    margin-left: 20px;
}

input {
    font-family: "Segoe UI Black";
    margin-left: 20px;
}
a {
    font-family: "Comic Sans MS";
    color:white;
    margin-left: 20px;
}
th {
    font-family: "Comic Sans MS";
    color:white;
    margin-left: 20px;
}
td {
    font-family: "Comic Sans MS";
    color:white;
    margin-left: 20px;
}
tr {
    font-family: "Comic Sans MS";
    color:white;
    margin-left: 20px;
}
nav {
    display: inline-flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    color:yellow;
}